@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

object[type="image/svg+xml"] {
    background-color: transparent;
}

header {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: center;
}

.menuToggle {
    display: flex;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}
.menuToggle button {
    text-decoration: none;
    transition: all 0.3s ease;
}

.menuToggle input {
    display: block;
    width: 50px;
    height: 32px;
    position: absolute;
    right: -7px;
    top: 40px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}
.menuToggle .menuLine {
    position: relative;
    display: block;
    height: 4px;
    background: #89B6C3;
    border-radius: 3px;
    z-index: 1;
}
.menuToggle .material-icons-round {
    font-size: 2rem;
}
.menuToggle input:checked ~ .menuItem {
    opacity: 1;
    visibility: visible;
    transform: none;
}
.menuItem {
    position: absolute;
    top: 90px;
    right: -10px;
    opacity: 0;
    visibility: hidden;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s ease, visibility 0.1s ease;
}
.menuItem li {
    padding: 0;
    font-size: 12px;
}
